<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Lista de Dispositivos</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
	<nav class="navbar navbar-nav ">
		<div class="container">
			<a class="navbar-brand" href="/inicio">Inicio</a>
		</div>
	</nav>

	<div class="container my-2" align="center">
		<h3>Lista de Dispositivos</h3>
		<table style="width:80%" border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nombre</th>
					<th>Habilitado</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="${habilitacionCamara.idHabilitacion}">Id</td>
					<td>Camaras</td>
					<td th:text="${habilitacionCamara.habilitado}">Habilitado</td>
					<td>
						<form
							th:action="@{/dispositivo/cambiarhabilitacion/{idHabilitacion}(idHabilitacion=${habilitacionCamara.idHabilitacion})}"
							method="post">
							<button type="submit" class="btn btn-info btn-sm">Activar</button>
						</form>
					</td>
					<td>
						<a th:href="@{camara}">
							Ver detalles
						</a>
					</td> <!-- Cierre de la etiqueta <td> agregado -->
				</tr>
				<tr>
					<td th:text="${habilitacionContenedor.idHabilitacion}">Id</td>
					<td>Sensores Contenedor</td>
					<td th:text="${habilitacionContenedor.habilitado}">Habilitado</td>
					<td>
						<form
							th:action="@{/dispositivo/cambiarhabilitacion/{idHabilitacion}(idHabilitacion=${habilitacionContenedor.idHabilitacion})}"
							method="post">
							<button type="submit" class="btn btn-info btn-sm">Activar</button>
						</form>
					</td>
					<td>
						<a th:href="@{sensorcontenedor}">
							Ver detalles
						</a>
					</td> <!-- Cierre de la etiqueta <td> agregado -->
				</tr>
				<tr>
					<td th:text="${habilitacionHumedad.idHabilitacion}">Id</td>
					<td>Sensores Humedad</td>
					<td th:text="${habilitacionHumedad.habilitado}">Habilitado</td>
					<td>
						<form
							th:action="@{/dispositivo/cambiarhabilitacion/{idHabilitacion}(idHabilitacion=${habilitacionHumedad.idHabilitacion})}"
							method="post">
							<button type="submit" class="btn btn-info btn-sm">Activar</button>
						</form>
					</td>
					<td>
						<a th:href="@{sensorhumedad}">
							Ver detalles
						</a>
					</td> <!-- Cierre de la etiqueta <td> agregado -->
				</tr>
			</tbody>
		</table>
		<table style="width:80%" border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>Id</th>
					<th>Tipo</th>
					<th>Activada</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="dispositivo : ${dispositivos}">
					<td th:text="${dispositivo.idDispositivo}">Id</td>
					<td th:text="${dispositivo.getClass().getSimpleName()}">Tipo</td>
					<td th:text="${dispositivo.activado}">Activada</td>
					<td>
						<a th:href="@{/dispositivo/{idDispositivo}(idDispositivo=${dispositivo.idDispositivo})}">
							Ver detalles
						</a>
					</td> <!-- Cierre de la etiqueta <td> agregado -->
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>