<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Lista de Camaras</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
	<!-- No puedo hacer que el navbar sea blanco nose porque (por ahora se queda asi)-->
	<nav class="navbar navbar-expand bg-dark">
		<div class="container">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/inicio">Inicio</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/dispositivo">Dispositivos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/evento">Eventos</a>
				</li>
			</ul>
		</div>
	</nav>

	<div class="container my-2" align="center">

		<h3>Lista de Camaras</h3>
		<h4 th:text="${habilitacion.habilitado}">Habilitado</h4>
		<!-- Cuando le dan click se referencia a otro controller por eso falla) -->
		<a th:href="@{/camara/new}" class="btn btn-primary btn-sm mb-3">Agregar Camara</a>
		<table style="width:80%" border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>Id</th>
					<th>Aula</th>
					<th>Activada</th>
					<th>HayAlguien</th>
					<th></th>
				</tr>
			</thead>
			<!-- Modificar referenciando a lo nuestro (todavia nose bien como se hace) -->
			<tbody>
				<tr th:each="camaraAula : ${camaras}">
					<td th:text="${camaraAula.idDispositivo}">Id</td>
					<td th:text="${camaraAula.aula.lugar}">Aula</td>
					<td th:text="${camaraAula.activado}">Activada</td>
					<td th:text="${camaraAula.hayAlguien}">HayAlguien</td>
					<td>
						<a th:href="@{/dispositivo/{idDispositivo}(idDispositivo=${camaraAula.idDispositivo})}">
							Ver Eventos
						</a>
					</td>
					<td>
						<form th:action="@{/dispositivo/delete/{idDispositivo}(idDispositivo=${camaraAula.idDispositivo})}" method="post">
							<button type="submit" class="btn btn-info btn-sm btn-block">Eliminar</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>