<table border="1px">
	<thead>
		<tr>
			<th>Id</th>
			<th>Aula</th>
			<th>Activada</th>
			<th>HayAlguien</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="camaraAula : ${camaras}">
			<td th:text="${camaraAula.idDispositivo}">Id</td>
			<td th:text="${camaraAula.aula.lugar}">Aula</td>
			<td th:text="${camaraAula.activado}">Activada</td>
			<td th:text="${camaraAula.hayAlguien}">HayAlguien</td>
			<td>
                <a th:href="@{/camara/{idDispositivo}(idDispositivo=${camaraAula.idDispositivo})}">
                    View
                </a>
		</tr>
	</tbody>
</table>
<a href="/camara/new">Crear nueva camara</a>