<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <title>Creador de Cámara</title>
</head>
<body>
  <div class="container">
    <h1>Creador de Cámara</h1>
    <form action="#" th:action="@{/camara/create}" th:object="${camara}" method="post">
      <div class="form-group">
        <label for="aula">Aula:</label>
        <select id="aula" name="aula" class="form-control">
          <option th:each="aula : ${aulas}" th:value="${aula.idAula}" th:text="${aula.lugar} + (${aula.camara != null} ? ' - YA OCUPADA' : '')" th:disabled="${aula.camara != null}" th:classappend="${aula.camara != null} ? 'option-ocupada' : ''"></option>
        </select>
      </div>
      <div class="btn-group">
        <button type="submit" class="btn btn-primary">Crear</button>
        <a href="/camara" class="btn btn-secondary">Cancelar</a>
      </div>
    </form>
  </div>
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>








