<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Camara</title>
</head>
<body>
    <h1>Update Camara</h1>

    <form action="#" th:action="@{/camara/update}" th:object="${camara}" method="post">
        <input type="hidden" th:field="*{idDispositivo}" />
        <p>
            <!-- Otros campos del formulario -->
        </p>
        <input type="submit" value="Update" />
    </form>

    <form action="#" th:action="@{/camara/delete/{idDispositivo}(idDispositivo=${camara.idDispositivo})}" method="post">
        <input type="submit" value="Delete" />
    </form>
</body>
</html>




